// theme colors
$color-primary: #131a9a;
$color-primary-accent: blue;

$background-color-primary: #e9eff5;
$background-color-secondary: #fdfdfd;
$background-color-tertiary: #555;

$color-secondary: cyan;
$color-secondary-accent: blue;

$color-tertiary: orange;
$color-tertiary-accent: red;

// font colors
$font-color-link: $color-primary;
$font-color-primary: black;
$font-color-secondary: #555555;
$font-color-tertiary: #aaa;

$font-color-reverse: white;

// focus
$focus-ring-color: black;
